<p>Dear {{ recipient_name }},</p>
</br>

<p>
  The {% if role_name %}<b>{{ role_name }}</b> role{% else %}a role{% endif %}
  has been <b>granted</b> to
  {% if target_kind == 'group' %}group {% endif %}<b>{{ target_name }}</b>
  on project <b>{{ project_name }}</b>.
</p>
</br>

<p>
  Current members of <b>{{ project_name }}</b>:
</p>
<table border="1" cellpadding="6" cellspacing="0" style="border-collapse: collapse;">
  <tr>
    <th align="left">User</th>
    <th align="left">Email</th>
    <th align="left">Roles</th>
  </tr>
  {% for row in members_table %}
  <tr>
    <td>{{ row.name }}</td>
    <td>{{ row.email }}</td>
    <td>{{ row.roles | join(', ') }}</td>
  </tr>
  {% endfor %}
</table>
</br>

<p>
  You are receiving this message as a tenant manager of
  <b>{{ project_name }}</b>. Other project members have been CC'd.
  Tenant managers have the <a href="https://support.ehelp.edu.au/support/solutions/articles/6000259042">following responsibilities.</a>
</p>
</br>

<p>
  If this change was unexpected, please reply to this email or contact
  Nectar support at support@nectar.org.au.
</p>
</br>

<p>
  Kind Regards,<br/>
  ARDC Nectar Research Cloud Team.
</p>
